html {
  font-family: sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary-color-paragraph: #124d72;
  --primary-background-quienes-desktop: #091629;
  --primary-color-title: #1d3557;
  --primary-border: #a8dadc;
  --primary-color-a: #214a64;
  --primary-yellow: #fcbf49;
  --primary-red: #e63946;
  --primary-background: #f1f1f1;
  --font: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-background);
  color: var(--primary-color-paragraph);
}
*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
#root {
  max-width: 1300px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}
/* ? Header */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  text-align: center;
}
.hero__ul {
  list-style-type: none;
}
.hero__enlace {
  font-size: 1rem;
  color: var(--primary-color-a);
  text-decoration: none;
  font-weight: 600;
}
/* ! Misión && queremos && quienes__title && quienes__paragraph && services__title */
.mision,
.queremos,
.services,
main,
.valores {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-block: 1rem;
  height: auto;
}
.mision__title,
.queremos__title,
.services__title,
.quienes__title,
.valores__title,
.intro__title {
  text-align: center;
  font-size: 1.8em;
  text-decoration: underline;
  color: var(--primary-color-title);
}
.mision__div--one,
.queremos__div--one,
.quienes__div--one,
.services__div--one,
.valores__div--one {
  margin-bottom: 1.2rem;
}
.mision__paragraph,
.queremos__paragraph,
.quienes__paragraph {
  font-size: 1em;
  line-height: 1.5em;
  max-width: 400px;
}
.mision__div--two,
.queremos__div--two {
  width: 100%;
}
.mision__div--three,
.queremos__div--three {
  width: 100%;
  margin-bottom: 1rem;
}
.mision__img,
.queremos__img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
/* ! Intro */
.intro {
  position: relative;
}
.intro__title {
  font-size: 2rem;
  text-decoration: none;
}
.intro__slider {
  width: 100%;
  height: 60vw;
  background-image: url("./../assets/over-front.jpeg");
  background-size: cover;
  background-position: center;
  margin-inline: auto;
  animation: slide 10s infinite ease-in-out;
  -webkit-animation: slide 10s infinite ease-in-out;
}

@keyframes slide {
  20% {
    background-image: url("./../assets/over-in.jpeg");
    background-size: cover;
  }
  40% {
    background-image: url("./../assets/over-desktop-two.jpeg");
    background-size: cover;
  }
  60% {
    background-image: url("./../assets/over-desktop.jpeg");
    background-size: cover;
  }
  80% {
    background-image: url("./../assets/over-front.jpeg");
    background-size: cover;
  }
}
/* * Services && valores */
.services__ul,
.valores__ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.services__item,
.valores__item {
  flex-basis: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: solid thin #ddd;
  border-top-color: var(--primary-border);
  border-top-width: medium;
  border-top-style: solid;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0.1rem rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}
.services__span,
.valores__span {
  display: block;
  text-align: center;
  font-size: 1rem;
  max-width: 150px;
}

/* > Footer */
.foo {
  text-align: center;
  font-weight: 700;
  padding-block: 1rem;
}

/* > 600 */
@media screen and (min-width: 600px) {
  .hero {
    height: 50px;
    justify-content: flex-end;
  }
  .mision__paragraph,
  .queremos__paragraph,
  .quienes__paragraph {
    font-size: 1.2rem;
  }
}
/* > 820 */
@media screen and (min-width: 768px) {
  .hero__ul {
    display: flex;
    gap: 1rem;
  }
  .mision__div--two,
  .queremos__div--two {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  main {
    width: 100%;
    background-color: var(--primary-background-quienes-desktop);
    color: var(--primary-background);
    text-align: center;
  }
  .quienes__paragraph {
    margin-inline: auto;
    max-width: 800px;
  }
  .quienes__title {
    color: var(--primary-yellow);
  }
  .mision,
  .queremos,
  .services,
  main,
  .valores {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

/* > 920 */
@media screen and (min-width: 912px) {
  .services__ul {
    display: grid;
    grid-template-columns: 160px 160px 160px;
  }
}
/* > 1200 */
@media screen and (min-width: 1200px) {
  .hero__enlace::after {
    content: "";
    display: block;
    height: 0.15rem;
    width: 0;
    border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    -ms-border-radius: 0.15rem;
    -o-border-radius: 0.15rem;
    background-color: var(--primary-color-a);
    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
  }
  .hero__enlace:hover::after {
    width: 100%;
  }

  .intro__title {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary-background);
  }
  .mision__div--two,
  .queremos__div--two {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .queremos__div--two {
    flex-direction: row-reverse;
  }
  .mision__paragraph,
  .queremos__paragraph,
  .quienes__paragraph {
    font-size: 1.4rem;
  }
  .mision__paragraph,
  .queremos__paragraph {
    max-width: 600px;
  }
  .services__span,
  .valores__span {
    font-size: 1.2rem;
  }
  .valores__item {
    flex-basis: 200px;
    height: 200px;
  }
  .services__ul {
    grid-template-columns: 200px 200px 200px;
  }
  .services__item {
    height: 200px;
  }
  .services__item:hover,
  .valores__item:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}
